
*.o
*.out
*.exe
*.a
*.so
*.dylib
*.dll


/build/
/bin/
/obj/
/dist/
/excess/
/lezioni_TNDS/


*.swp
*.swo
*~
.vscode/
.idea/
*.DS_Store


*.log


*.dSYM/
*.d
*.tmp


Makefile.in
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json